.footer{
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.item {
    padding: 10px;
    margin: 10px;
    height: fit-content;
    width: fit-content;
    font-size: 14px;
    text-decoration: none;
}