*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppContent {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.Snake {
  background-color: black;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}

.NavBar {
  height: 50px;
  width: 100%;
  display: flex;
  padding: 0 15px;
}

#root{
  display: flex;
  flex-direction: column;
}

.Home{
  align-items: center;
  display: flex;
  flex-direction: column;
}

#containerhome{
  text-align: left;

}

.AppRouter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.homeSlider{
  height: 500px;
}

.projList {
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
}
.appContainer {
  min-height: calc(100vh - 120px);
}

.user {
  display: flex;
  width: 300px;
  height: 70px;
  border: 2px solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.content-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.goblin {
  display: block;
}