*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.Snake {
  background-color: black;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}

.NavBar {
  height: 50px;
  width: 100%;
  display: flex;
  padding: 0 15px;
}

#root{
  display: flex;
  flex-direction: column;
}

.Home{
  align-items: center;
  display: flex;
  flex-direction: column;
}

#containerhome{
  text-align: left;

}

.AppRouter {
  display: flex;
  flex-direction: column;
  align-items: center;
}